<nav class="navbar navbar-expand-md bg-secondary navbar-dark ">
	<div class="container-fluid">
    <app-home></app-home>
		<button class="navbar-toggler navbar-toggler-right" type="button"
			data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="true"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto ">
              <app-tech></app-tech>
              <app-sports></app-sports>
              <app-business></app-business>
              <app-favourites></app-favourites>
              <app-about-us></app-about-us>

			</ul>
			<app-newsmain></app-newsmain>

		</div>
	</div>
	</nav>