
<a href={{singleNews.url}}> 
<img class="card-img-top" src={{singleNews.urlToImage}} alt="Card image cap"></a>
    <div class="card-body">
        <a href={{singleNews.url}}> 
     <h5 class="card-title">{{singleNews.title}}</h5>
      <p class="card-text text-secondary">{{singleNews.description}}</p></a>
      <p class="card-text"><small class="text-muted">{{singleNews.publishedAt}}</small></p>
      <div class="card-footer">
          <small class="text-muted">
              <div *ngIf="normalFlag; else elseBlock"><button     type="button" class="btn btn-outline-warning"    (click)="addToFav(singleNews)"  ><i><b><span style="font-style: normal;">Add to Favourites</span></b></i></button></div>
              <ng-template #elseBlock> <button   type="button" class="btn btn-outline-warning"    (click)="deleteFavNews(singleNews)" ><i><b><span style="font-style: normal;">Remove from Favourites</span></b></i></button></ng-template>
          </small>
        </div>
    </div>